.reveal img{
  height:380px !important;
}
.reveal h1{
  color:#e7ad52 !important;
  font-size:1.4em;
  border-bottom:1px solid #e7ad52 !important}
.reveal h2{
  border-bottom:1px solid #ffffff;
  color:#ffffff;
  font-size:1.8em;}

